<mat-sidenav-container fullscreen>
    <div class="center">
        <div fxLayout.xs="column">   
            <div>
                <mat-card>
                    <mat-card-title>Bienvenido</mat-card-title>
                    <mat-card-subtitle>Prueba Técnica: Encuesta Redes Sociales</mat-card-subtitle>
                    <mat-card-actions>
                    <button mat-raised-button
                         color="primary"
                         routerLink="/encuesta/formulario">
                         Presentar Encuesta</button>
                </mat-card-actions>
              </mat-card>
            </div>
        </div>
    </div>
</mat-sidenav-container>